# ROS files and directories
external/build
external/devel
external/src
external/build_isolated
external/devel_isolated
external/install_isolated
internal/build
internal/devel
internal/src
*.catkin_workspace

# Swap files
*.swp
*.swo
*~

# Glog log files
*.log*
*.INFO

# OSX dir files
.DS_store

# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic and static libraries
*.so
*.dylib
*.la
*.a

# Video files
*.mp4
*.MOV
*.mov

# CSV files
*.csv
